{% extends 'base.html' %}

{% block titulo %}Login | {% endblock %}

{% block conteudo %}
    <h1 class="mb-3, mt-3">Login</h1>

    {% if not user.is_authenticated %}
    <form method="POST" action="{% url 'login' %}">
        {% include 'parciais/_messages.html' %}
        {% csrf_token %}

        <div class="form-group">
            <label>Usuário</label>
            <input type="text" class="form-control" value="{{ request.POST.usuario }}"
                   placeholder="Não pode conter espaços" name="usuario">
        </div>

        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="Mínimo de 6 caracteres" name="senha">
        </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    {% else %}

        Você já está logado {{user.first_name}},<br>
        <a href="{% url 'dashboard'%}">Clique aqui</a> para acessar seu painel ou
        <a href="{% url 'logout'%}">aqui</a> para deslogar seu usuário.

    {% endif %}

{% endblock %}